/* Reset default styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d86767;
    color: #000000;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#update-data-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

#update-data-button:hover {
    background-color: #0056b3;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

/* Add your custom styles below this line */
