html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Tommy';
    src: url('/assets/MADETOMMY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
body {
    background-color: #d1e8e2;
}

#headerDiv {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Tommy', sans-serif;
    align-items: center;
    gap: 10px;
}

.layout-class {  /* Replace 'layout-class' with the actual class or use a different selector as needed */
    display: flex;
    height: 100vh; /* This sets the height to fill the entire viewport */
}

#LeftSideDiv {
    flex: 0 0 15%;  /* Don't grow or shrink, take up 20% of the space */
    max-width: 15%;  /* Don't let it take up more than 20% of the space */
}

#RightSideDiv {
    flex: 1;  /* Grow to take up the remaining space */
}

#barGraphDiv {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Tommy', sans-serif;
    align-items: center;
    gap: 10px;
}

#positiveCashFlowTable, #negativeCashFlowTable, #netCashFlowTable, #incomeToExpenseRatioTable {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#positiveCashFlowTable:hover, #negativeCashFlowTable:hover, #netCashFlowTable:hover, #incomeToExpenseRatioTable:hover {
    opacity: 0.8;
}


#update-data-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #116466;
    color: #FFCB9A;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Tommy';
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

#update-data-button:hover, #update-data-button:focus {
    background-color: #D9B08C;
    color: #2C3531;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

/* Add your custom styles below this line */
